html{
  font-size: 100%;
}
body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #333;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
}
img{
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
}

.inner-1200{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
}
.section-title{
  position: relative;
  margin-bottom: 80px;
}
.section-title::after{
  content: "";
  width: 80px;
  height: 5px;
  background-color: #65A179;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.en{
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  color: #65A179;
  font-size: 24px;
}


.more-btn{
  text-align: center;
}
.more-btn a{
  display: inline-block;
  width: 40%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 15px 0;
  letter-spacing: 3px;
  background-color: #65A179;
  transition: all 0.5s;
}
.arrow_right {
  margin-left: 20px;
  position: relative;
}
.arrow_right::before { /* くの字の表示設定 */
  content: "";
  transition: all 0.5s;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  width: 13px;    /* くの字を山なりに見た時、左側の長さ */
  height: 13px;   /* くの字を山なりに見た時、右側の長さ */
  border-top: 3px solid #fff;     /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 3px solid #fff;;   /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg);    /* くの字の向き */
}
.arrow_right::after { /* 棒の表示設定 */
  content: "";
  transition: all 0.5s;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 15px; /* 棒の長さ */
  height: 3px; /* 棒の太さ */
  background: #fff; /* 棒の色 */
}
.more-btn a:hover .arrow_right::before{
  left: 8px;
}
.more-btn a:hover .arrow_right::after{
  width: 20px;
}
/*メインビジュアル*/
#slider {
  max-width: 1200px;
  width: 100%;
  height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  margin: 0 auto;
  
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow-x: hidden !important;
}
.main{
  margin-top: 100vh;
position: relative;
z-index:1;
background-color: #fff;
}

/*ヘッダー*/
header{
  position: relative;
  top: -100vh;
  left: 0;
  width: 100%;
}
.header-logo{
  line-height: 1;
}
.header-logo a{
  display: block;
  width: 200px;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90; 
  border-radius: 0 0 20px 0;
}
.header-logo a:hover{
  opacity: 1;
}
.header-logo img{
  width: 200px;
}

.toggle-btn{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #CCAAA9;
  border-radius: 10px;
  z-index: 100;
  filter: drop-shadow(2px 2px 4px #333);
}
.toggle-btn span{
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  position: absolute;
  right: 20%;
}
.toggle-btn span:nth-child(1){
  top: 25%;
}
.toggle-btn span:nth-child(2){
  top: 50%;
}
.toggle-btn span:nth-child(3){
  top: 75%;
}
.open .toggle-btn span:nth-child(1){
  transform: rotate(-45deg);
  top: 50%;
}
.open .toggle-btn span:nth-child(2){
  opacity: 0;
}
.open .toggle-btn span:nth-child(3){
  transform: rotate(45deg);
  top: 50%;
}

.header-nav{
  width: 50%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  padding: 100px 0;
  transition: all 0.5s;
  z-index: 99;
  text-align: center;
}
.open .header-nav{
  right: 0;
  opacity: 1;
}
.header-nav img{
  width: 200px;
  margin-bottom: 30px;
}
.header-nav li{
  margin-bottom: 20px;
}
.header-nav a{
  color: #333;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.header-nav a:hover{
  color: #CCAAA9;
}

/*reservebtn*/
.reserve-box{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #CCAAA9;
  z-index: 20;
  border-radius: 20px;
  padding: 15px 0px;
  width: 250px;
  
  filter: drop-shadow(2px 2px 4px #333);
}
.reserve-box a{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.reserve-box img{
  width: 20px;
  height: 20px;
  margin: 8px 10px 0 0;
}


/*コンセプト*/
/* #c-sp{
  display: none;
} */
.concept{
  padding: 120px 0;
  background-color: #F3F1EE;
  height: 2300px;
}

.concept .inner-1200{
  height: 2180px;
}
#luxy{
  max-width: 1100px;
}
.area{
  position: relative;
  width: 100%;
  margin:0 0 8% 0;
  padding: 0 30px;
  max-width:960px;
  z-index: 5;
}
.area:nth-child(2n){
  margin:0 0 5% 0;
}
.area .c-imgbox{
  position:relative;
  left:0px;
  top:0px;
  width:48%;
  height: 400px;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px #ccc);
}


.area:nth-child(2n) .c-imgbox{
  left:48%;
  top: 20%;
}
.area .box{
  position:absolute;
  top:20%;
  right: 50px;
  background:#fff;
  padding:40px;
  width: 53%;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px #ccc);
  z-index: 5;

}


.area:nth-child(2n) .box{
  top: 20%;
  left: 5%;
}
.area img{
  height:400px;
  object-fit: cover;
  border-radius: 20px;
}
.box h3{
  font-size: 22px;
  margin-bottom: 30px;
}
.box p{
  margin-bottom: 10px;
}
.box p:last-of-type{
  margin-bottom: 0;
}
.marker{
  background:linear-gradient(transparent 80%, #CCAAA9 60%);	
}

/*背景*/
.back{
  width: 100%;
  height: 60vh; 
 object-fit: cover;
 border-radius: 0;
}
  .back1{
 object-position: 50% 85%;
}
.back2{
 object-position: 50% 15%;
}
.back3{
  object-position: 50% 20%;
}

/*メニュー*/
.menu{
  padding: 120px 0;
}
.menu .inner-1200{
  position: relative;
}
.menu-box{
  position: relative;
  max-width: 1000px;
  margin: 0 auto 80px;
  border: 1px solid #65A179;
  border-radius: 20px;
 
}
.menu-inner{
  padding: 50px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 10;
  border-radius: 20px;
}
.menu-title{
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #65A179;
}
.menu-title .menu-ja{
  font-weight: normal;
  margin-left: 20px;
}
.menu-box dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.menu-box dl:last-of-type{
  margin-bottom: 0;
}
.menu-box dt{
  width: 70%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.menu-box dd{
  width: 30%;
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.green{
  width:  100%;
  height: 100%;
  background-color: #65A179;
  position: absolute;
  top:20px;
  left: 20px;
  z-index: 9;
  border-radius: 20px;
}

/*写真*/

.shop-img .inner-1200{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.si{
  width: 32%;
  object-fit: cover;
}
.si-1,.si-3{
  height: 200px;
}
.si-3{
  align-self: flex-end;
}
.si-2{
  height: 400px;
  object-position: 50% 0%;
}


/*スタイル*/
.style{
  padding: 120px 0;
}
.s-ul{
  display: flex;
}
.style-box{
  justify-content: space-between;
  margin-bottom: 80px;
}
.bgRL{
  position: relative;
  width: 32%;
  height: 400px;
}
.bgRL img{
  height: 400px;
  object-fit: cover;
}
.style .bgRL img{
  object-position: 20% 50%;
}
.bgRL .mask{
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
  border-radius: 20px;
}
.bgRL .mask::before{
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  background: #65A179;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.bgRL:hover .mask::before{
  opacity: 0.9;
  transform: translateX(0);
}
.bgRL .cap{
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
.bgRL:hover .cap{
  opacity: 1;
}

/*スタッフ*/
.stuff{
  padding: 120px 0;
}
.stuff-box{
  justify-content: center;
}
.stuff-box .bgRL{
  margin: 0 10px;
}
.stuff .bgRL img{
  object-position: 50% 10%;
}
.stuff-box .cap{
  text-align: center;
}
.bold{
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  margin-top: 15px;
}

/*ブログ*/
.blog{
  padding-bottom: 120px;
}
.blog-box{
  display: flex;
  justify-content: center;
}
.blog-box li{
  width: 32%;
  margin: 0 10px;
}
.blog-box a{
  color: #333;
}
.blog-box a img{
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
  transform: scale(1);
  transition: .3s ease-in-out;
}
.blog-box a:hover img{
  transform: scale(1.2);
 
}
.b-mask{ 
  border-radius: 20px;
  display: block;
  line-height: 0;/*行の高さを0にする*/
  overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
.blog-box p{
  width: 80%;
  margin: 0 auto;
}

/*予約*/

.reserve{
  background-color: rgba(204,170,169,0.6);
  padding: 80px 0;
}
.reserve-title{
  text-align: center;
  margin-bottom: 50px;
}
.r-box{
  display: flex;
  justify-content: center;
}
.r-btn{
  width: 30%;
  text-align: center;
  margin: 0 20px;
  display: block;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  height: 100%;
  padding: 20px 0;
  border-radius: 20px;
  border-bottom: solid 10px #E07255;
}
.r-btn:hover{
  opacity: 1;
}
.r-btn:active {
  transform: translateY(10px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

footer{
  background-color: #fff;
}
.f-green{
  padding: 50px 0 0 10px;
  background-color:rgba(101,161,121,0.5);
}
.f-box{
  margin: 0 auto;
  background-color: #65A179;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.f-left,iframe{
  width: 45%;
  padding: 20px;
}
.f-left img{
  width: 200px;
  margin-bottom: 20px;
}
.f-left dt{
  font-weight: bold;
}
.f-left dd{
  margin:0 0 10px 10px;
}
.sns{
  display: flex;
  justify-content: center;
  margin: 50px 0 20px;
}
.sns a{
  margin: 0 10px;
}
.copyright{
  font-size: 10px;
  text-align: center;
}

/*アニメーション*/
.anime{ 
  transform: scale(0.6);
}
.zoomIn{
  animation-name:zoomInAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
  transform: scale(0.6);
  }

  to {
      transform: scale(1);
  }
}



/*開始時のアニメーション*/

#splash {
  /*fixedで全面に固定*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fff;
    text-align:center;
    color:#fff;
  }
  
  /* Loading画像中央配置　*/
  #splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Loading アイコンの大きさ設定　*/
  #splash_logo img {
    width:260px;
  }
  
  /* fadeUpをするアイコンの動き */
  .fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }


  /*画面遷移アニメーション*/
.splashbg{
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
  display: block;
  content: "";
  position:fixed;
z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
left: 0;
  transform: scaleX(0);
  background-color: #65A179;/*伸びる背景色の設定*/
animation-name:PageAnime;
animation-duration:1.2s;
animation-timing-function:ease-in-out;
animation-fill-mode:forwards;

}

@keyframes PageAnime{
0% {
  transform-origin:right;
  transform:scaleX(0);
}
50% {
  transform-origin:right;
  transform:scaleX(1);
}
50.001% {
  transform-origin:left;
}
100% {
  transform-origin:left;
  transform:scaleX(0);
}
}

  #container{
    opacity: 0;
  } 
  
  /*bodyにappearクラスがついたら出現*/
  body.appear #container{
    animation-name:PageAnimeAppear;
    animation-duration:1s;
    animation-delay: 0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
  }
  @keyframes PageAnimeAppear{
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
  }
  }
  



  @media(max-width:1000px){
    .concept{
      height: 2200px;
    }
    .concept .inner-1200{
      height: 2080px;
    }

    .stuff .bgRL{
      width: 45%;
    }

    .blog-box li{
      width: 45%;
    }
  }

  @media(max-width:768px){

    .section-title{
      font-size: 18px;
    }
    .section-title::after{
      width: 50px;
      height: 3px;
      bottom: -20px;
    }
    .en{
      font-size: 18px;
    }
    
    .more-btn a{
      width: 100%;
      font-size: 16px;
      font-weight: normal;
      padding: 10px 0;
    }
    .arrow_right::before { /* くの字の表示設定 */
      content: "";
      transition: all 0.5s;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2px;
      width: 13px;    /* くの字を山なりに見た時、左側の長さ */
      height: 13px;   /* くの字を山なりに見た時、右側の長さ */
      border-top: 2px solid #fff;     /* くの字を山なりに見た時、左側の太さと色 */
      border-right: 2px solid #fff;;   /* くの字を山なりに見た時、右側の太さと色 */
      transform: rotate(45deg);    /* くの字の向き */
    }
    .arrow_right::after { /* 棒の表示設定 */
      content: "";
      transition: all 0.5s;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1px;
      width: 15px; /* 棒の長さ */
      height: 2px; /* 棒の太さ */
      background: #fff; /* 棒の色 */
    }
    .more-btn a:hover .arrow_right::before{
      left: 8px;
    }
    .more-btn a:hover .arrow_right::after{
      width: 20px;
}

    .header-logo a{
      width: 110px;
    }
    .header-logo img{
      width: 110px;
    }
    .header-nav{
      width: 100%;
      padding: 50px 0;
    }
    .header-nav img{
      width: 150px;
    }
    .header-nav a{
      font-size: 16px;
    }

    /*reservebtn*/
.reserve-box{
  padding: 10px 0px;
  width: 120px;
}
.reserve-box a{
  font-size: 16px;
}
.reserve-box img{
  width: 16px;
  height: 16px;
  margin: 5px 10px 0 0;
}

/*背景*/
.back{
  height: 50vh; 
}

/*メニュー*/
.menu{
  padding: 80px 0;
}
.menu-box{
  margin: 0 auto 50px;
}
.menu-inner{
  padding: 40px 15px;
}
.menu-title{
  font-size: 16px;
}
.menu-title .menu-ja{
  margin-left: 16px;
}
.menu-box dt{
  font-size: 14px;
}
.menu-box dd{
 font-size: 14px;
}
.green{
  top: 10px;
  left: 5px;
}

/*写真*/

.shop-img .inner-1200{
 flex-direction: column;
 position: relative;
}
.si{
  width: 80%;
  margin-bottom: 10px;
}
.si-3{
  align-self: flex-start;
}
.si-2{
  align-self: flex-end;
}

/*スタイル*/
.style{
  padding: 80px 0;
}
.s-ul{
 flex-direction: column;
}
.style-box{
  margin-bottom: 0px;
  display: block;
}
.bgRL{
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.bgRL img{
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
}
.bgRL:hover .mask::before{
  opacity: 0;
  transform: translateX(100%);
}
.bgRL .cap{
  position: relative;
  opacity: 1;
  top: 0%;
  left: 0%;
  transform: translateX(0%) translateY(0%);
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
 text-align: center;
        display: block;
}


/*スタッフ*/
.stuff{
  padding: 80px 0;
}
.stuff-box .bgRL{
  margin: 0px 0 80px;
  width: 100%;
}
.stuff-box .bgRL:last-child{
  margin-bottom: 40px;
}
.stuff-box .cap{
  text-align: center;
}
.bold{
  margin-top: 5px;
}

/*ブログ*/
.blog{
  padding-bottom: 80px;
}
.blog-box{
 flex-direction: column;
}
.blog-box li{
  width: 100%;
  margin: 20px 0px;
}
.blog-box a img{
  height: 300px;
}
.blog-box p{
  font-size: 14px;
}

/*予約*/

.reserve-title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}
.r-box{
  flex-direction: column;
}
.r-btn{
  width: 100%;
  margin: 0 0px 20px;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: solid 5px #E07255;
}
.r-btn:last-child{
  margin-bottom: 0;
}
.r-btn:active {
  transform: translateY(5px);/*下に動く*/
}

/*footer*/
.f-box{
  width: 90%;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}
.f-left,iframe{
  width: 100%;
  padding: 0;
}
.f-left dl{
  text-align: left;
}
.f-left img{
  width: 150px;
}

#splash_logo img {
  width:200px;
}

/*コンセプト*/


/* #c-sp{
  display: none;
  position: relative;
} */
/* #luxy{
  display: block;
} */
.concept{
  padding: 80px 0 50px;
  height: auto;
}
.concept .inner-1200{
  height: auto;
}
.area{
  position: relative;
  width: 100%;
  margin-bottom: 350px;
}
.area:nth-child(2n) {
  margin: 0 0 350px 0;
}
.area .box{
  position:relative;
  top:0%;
  left: 0;
  right: 0;
  background:#fff;
  padding:40px 20px;
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px #ccc);
  z-index: 2;
}
.area:nth-child(2n) .box {
  top: 0%;
  left: 0;
  right: 0;
}
.box h3{
  font-size: 18px;
  margin-bottom: 30px;
}
.box p{
  font-size: 14px;
  margin-bottom: 10px;
}
.box p:last-of-type{
  margin-bottom: 0;
}
.area .c-imgbox{
  position:absolute;
  top: 95%;
  width:70%;
  height: 250px;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px #ccc);
  z-index: 3;
}


.area:nth-child(2n) .c-imgbox{
  left: 20%;
  top: 95%;
}
.area img{
  height:250px;
  object-fit: cover;
  border-radius: 20px;
}


/*メインビジュアル*/
/* #slider {
  width: 95%;  
} */
.wrapper{
  width: 100%;
}

.toggle-btn{
  top: 5px;
  right: 5px;
}

  }

  @media(max-width:450px){
    .area{
      margin-bottom: 300px;
    }
    .area .c-imgbox{
      width:80%;
    }
  }
